@media (max-width: 768px) {
  .auctionDetails {
      padding: 15px;
      max-width: 90%;
  }

  .details h2 {
      font-size: 22px;
  }

  .details p {
      font-size: 16px;
  }

  .details button {
      padding: 8px 18px;
      font-size: 16px;
  }
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 480px) {
  .auctionDetails {
      padding: 10px;
      max-width: 95%;
  }

  .details h2 {
      font-size: 20px;
  }

  .details p {
      font-size: 14px;
  }

  .details button {
      padding: 6px 16px;
      font-size: 14px;
  }
}