

.bidHistory {
    padding: 20px;
    background-color: #f9fbff; 
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
  }
  
  .bidHistory h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
  }
  
  .myBid, .otherBids .description, .quickLook, .housingDeatils {
    margin-top: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ccc8c8;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #ebe2e2;
  }
  
  .edit {
    color: red;
    cursor: pointer;
  }
  
  .retract {
    color: red;
    cursor: pointer;
  }
  
  .description {
    margin-top: 20px;
  }
  
  .description h2 {
    font-size: 20px;
    color: #333;
  }
  
  .description p, .quickLook p, .housingDetails p {
    margin: 10px 0;
    font-size: 16px;
  }
  