.carouselContainer {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display:block;
    position: relative;
  }
  
  .image {
    width:100%;
    height:auto;
    border-radius: 2px;
    
  }
  

  @media (max-width: 768px) {
    .carouselContainer {
        padding: 0 10px; 
    }
}


@media (max-width: 480px) {
    .carouselContainer {
        padding: 0 5px; 
    }

    .image {
        border-radius: 0; 
    }
}