.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px 10px;
    background-color: rgb(254, 255, 255);
    box-shadow: 0 2px 4px rgba(0,0,0, 0.2);
}

.logoContainer {
    display: flex;
    align-items: center;
 
}

.logo {
    height: 150px;
    width: 190px;
    margin-left: -15px;
}

.nav {
    display: flex;
    gap: 30px;
    font-size: 22px;
}

.navLink {
    display: flex;
    align-items: center;
    gap: 2px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navText {
    display: inline;
}

.authButtons {
    display: flex;
    gap: 10px;
}

.loginButton, .registerButton {
    background-color: rgba(98, 207, 226, 0.897);
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .logo {
        height: 90px;
        width: 100px;
        margin-left: -45vw;
    }

    .nav {
        flex-direction: row;
        gap: 12px;
        order: 2;
        justify-content: space-between;
        flex-grow: 1;
    }

    .navLink {
        flex-direction: column;
        align-items: center;
    }

    .navText {
        display: none;
    }

    .authButtons {
        flex-direction: row;
        order: 3;
        width: auto;
        justify-content: flex-end;
    }

    .loginButton, .registerButton {
        padding: 5px 10px;
        font-size: 14px;
        width: auto;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .logo {
        height: 60px;
        width: 80px;
        margin-bottom: 10px;
    }

    .nav {
        gap: 10px;
    }

    .authButtons {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .loginButton, .registerButton {
        width: 100%;
        padding: 8px;
    }
}
