.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
}

.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    transform: scale(0.8);
    animation: scaleIn 0.3s forwards;
}

.popup h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.popup form {
    display: flex;
    flex-direction: column;
}

.popup label {
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.popup input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; 
    box-sizing: border-box; 
}

.popup button {
    margin-top: 20px;
    padding: 10px;
    background-color: #d32f2f;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.popup button:hover {
    background-color: #b71c1c;
}


.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    to {
        transform: scale(1);
    }
}
