.privacyPolicy {
    max-width: 1100px;
    margin: 10px auto;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .privacyPolicy h1 {
    text-align: center;
    color: #d32f2f;
    margin-bottom: 20px;
  }
  
  .privacyPolicy section {
    margin-bottom: 20px;
  }
  
  .privacyPolicy h2 {
    color: #b71c1c;
    margin-bottom: 10px;
  }
  
  .privacyPolicy p {
    line-height: 1.6;
  }
  
  .privacyPolicy ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .privacyPolicy a {
    color: #d32f2f;
    text-decoration: none;
  }
  
  .privacyPolicy a:hover {
    text-decoration: underline;
  }
  