.projects {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.projects h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #d32f2f;
}

.projects p {
  text-align: center;
  margin-bottom: 40px;
  color: #555;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.projectCard {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: calc(33% - 20px);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}

.projectCard:hover {
  transform: translateY(-5px);
}

.projectImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.projectDetails {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.projectDetails h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
}

.projectDetails p {
  margin: 5px 0;
  color: #777;
}

.detailsButton {
  background-color: #d32f2f;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.detailsButton:hover {
  background-color: #b71c1c;
}

@media (max-width: 992px) {
  .projectCard {
      width: calc(50% - 20px);
  }
}


@media (max-width: 768px) {
  .projectCard {
      width: calc(50% - 20px);
  }
}


@media (max-width: 480px) {
  .projectCard {
      width: 100%;
  }
}
