.rent {
  padding: 20px;
  background-color: #8bcee9;
  text-align: center;
}

.rent h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.rent p {
  font-size: 16px;
  margin-bottom: 30px;
}

.properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.property {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: calc(33.333% - 20px); /* 3 columnas con espacio entre ellas */
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.property img {
  width: 100%;
  height: auto;
}

.details {
  padding: 15px;
  text-align: left;
  flex-grow: 1;
}

.details h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #d32f2f;
}

.details p {
  font-size: 14px;
  margin: 5px 0;
}

.details ul {
  list-style-type: none;
  padding: 0;
}

.details ul li {
  font-size: 14px;
  margin: 5px 0;
}

.likeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: red;
  margin-top: 10px;
}


@media (max-width: 768px) {
  .property {
    width: calc(50% - 20px); 
  }

  .rent h1 {
    font-size: 24px;
  }
}


@media (max-width: 480px) {
  .property {
    width: calc(100% - 20px); 
  }

  .rent h1 {
    font-size: 20px;
  }

  .rent p {
    font-size: 14px;
  }

  .details h2 {
    font-size: 18px;
  }

  .details p {
    font-size: 12px;
  }
}
