.rent {
    padding: 20px;
    background-color: #8bcee9;
    text-align: center;
  }
  
  .rent h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .rent p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .properties {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .property {
  
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .property img {
    width: 100%;
    height: auto;
  }
  
  .details {
    padding: 15px;
    text-align: left;
  }
  
  .details h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #d32f2f;
  }
  
  .details p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .details ul li {
    font-size: 14px;
    margin: 5px 0;
  }
  