.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #91c4e6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #d32f2f;
}

.result h1 {
  color: #d32f2f;
  font-size: 2em;
  margin-bottom: 20px;
}

.result p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.result strong {
  color: #333;
  font-weight: bold;
  font-size: 1.5em;
}

.goBackButton {
  background-color: #d32f2f;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  font-size: 1em;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.goBackButton:hover {
  background-color: #b71c1c;
}

.noDataMessage {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}
