/* Statistics.module.css */

.statistics {
    display: flex;
    justify-content: space-around;
    background-color: #ffeb3b;
    padding: 40px;
    border-radius: 3px;
   margin-bottom: -10px;
    text-align: center;
}

.stat {
    flex: 1;
    margin: 0 5px;
}

.stat h3 {
    font-size: 24px;
    color: #d32f2f;
}

.stat p {
    font-size: 16px;
    color: #000;
}
